gitlore/ 
gitlore_every_commit_has_a_story/ 
gitlore_facebook_react_analysis_1/ 
gitlore_facebook_react_analysis_2/ 
gitlore_hero_abstract_graphic/ 
gitlore_logo_mark/ 
gitlore_mobile/ 
gitlore_mobile_every_commit_has_a_story/